*{
  margin: 0;
  padding: 0;
  overflow: visible;
}
body{
background: url("fondo.jpg");
}
.container{
padding: 0;
}
.row {
  margin-top: 1%;
  border: 2px solid;
  background-color: white;

}
.d-md-none{
  margin-left: 5px;
  margin-right: 5px;
}
.titulo{
  margin-bottom: 5%;
}
.col-12{
  border: 2px solid;
  text-align: center;
}
.perfil{
  border:2px solid;
}
.datos{
  padding: 0;
  border: 2px solid;
  margin-top: 1%;
}
.datosmd{
  margin-top: 2%;
  margin-left: 5%;
  text-align: center;
}
.menu1{
  padding: 5%;
  text-align: center;
  border: 2px solid;
  margin-left: 10%;
  margin-bottom: 9%;
}
.menusm{
  padding: 5%;
  text-align: center;
  border: 2px solid;
  margin-left: 10%;
  margin-bottom: 9%;
  margin-top:5%;
}
.infancia{
  border: 2px solid;
}
.infanciamd{
  margin-left: 4%;
  margin-top: 1%;
  text-align: center;
}

.SOM{
  padding: 5%;
  margin-bottom: 5%;
}
.fsom{
  margin-left: 15%;
}
.pr1{
  margin-bottom: 10%;
}
.carousel-control-next-icon{
  color: black;
  opacity:1;
}
.carousel-indicators{
  background-color: black;
  opacity: 1;
  position: inherit;
}
.proy{
text-align: center;
margin-top: 2%;
margin-left: 3%;
}
.carousel-control-prev, .carousel-control-next{
background-color: black;
width: 3%;
}
.skillmd{
  margin-top:2%;
  margin-bottom:2%;
  margin-left: 7%;
  text-align: center;
}
.javamd{
  border: 2px solid;
  text-align: center;
}
.skill{
  text-align: center;
}
.nombre{
  text-align: center;
  border: 2px solid;
  padding: 5%;
  }
  #name{
    font-size: 24px;
  }
