*{
  margin: 0;
  padding: 0;
}
.row {
  margin-top: 2%;
}
.titulo{
  margin-bottom: 5%;
}
.col-12{
  border: 2px solid;
  text-align: center;
}
.perfil{
  border:2px solid;
}
.datos{
  padding: 0;
  border: 2px solid;
  margin-top: 1%;
}
.datosmd{
  margin-left: 5%;
  margin-top: 2%;
}
.menu1{
  padding: 5%;
  text-align: center;
  border: 2px solid;
  margin: 3%;
  margin-bottom: 9%;
}
.infancia{
  border: 2px solid;
}
.infanciamd{
  margin-left: 2%;
  margin-top: 4%;
  text-align: center;
}

.SOM{
  padding: 5%;
  margin-bottom: 5%;
}
.pr1{
  margin-bottom: 10%;
}
